@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
*{
    font-family: 'PT Serif', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
div.container-header{
    display: flex;
    flex-direction: column;  
}
div.container-navigation{
    display: flex; 
}
div.nav{
    padding: 25px;
    background-image: url("/assets/img/footer.jpg");
    width: 100%;
    justify-content: center;
}
img.logo{
    width: 50%;
    margin: 5%;
    
}
div.logo{
    background-color: black;
}
div.carousel{
    background-color: rgb(103, 60, 121);;
    display: flex;
    justify-content: space-between;
}
a.left{
    margin-top: 20%;
    background-color:  rgb(103, 60, 121);
    
}
a.right{
    margin-top: 20%;
    background-color:  rgb(103, 60, 121);
}

div.container-footer{
    position: relative;
}
div.social-networks{
    display: flex; 
}

img.social1{
    position: absolute;
    margin: 4px;
    width: 3.5%;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 5px 5px 10px black;
}
img.social2{
    position: absolute;
    margin: 4px;
    left: 5%;
    width: 3.5%;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 5px 5px 10px black;
}
img.social3{
    position: absolute;
    margin: 4px;
    left: 10%;
    width: 3.5%;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 5px 5px 10px black;
}
img.social4{
    position: absolute;
    margin: 4px;
    left: 15%;
    width: 3.5%;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 5px 5px 10px black;
}
h2{
    position: absolute;
    left: 85%;
}

h2.cohort{
    color: black;
    position: absolute;
    display: inline-block;
}

nav.button{
    display: flex;
    justify-content: center;
}

div.row{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

/*
div.cards1{
    display: flex;
    flex-direction: row; 
    margin: 15px;
}
*/



/*
div.cards2{
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    margin: 15px;
}

div.container-main{
    display: flex;
    flex-direction: column;
    margin-top: 65px;
    margin-bottom: 65px;
}
*/

img.right-arrow{
    width: 35px;
}

img.left-arrow{
    width: 35px;
}



div.card1{
    width: 46.5%;
    border-radius: 15px 15px 15px 15px;
    border: 1px solid rgb(95, 63, 95);
    box-shadow: 5px 5px 10px rgb(63, 52, 63);
    background-image: url(/assets/img/card.jpg);
    padding: 4.0%;
    height: 98%;
    color: rgb(95, 63, 95);
    margin-left: 150px;
    margin-bottom: 5%;
}

/*
div.card2{
    width: 22.7% ;
    border-radius: 15px 15px 15px 15px;
    border: 1px solid rgb(95, 63, 95);
    box-shadow: 5px 5px 10px rgb(63, 52, 63);
    background-image: url("/assets/img/card.jpg");
}

div.card3{
    width: 22.5% ;
    border-radius: 15px 15px 15px 15px;
    border: 1px solid rgb(95, 63, 95);
    box-shadow: 5px 5px 10px rgb(63, 52, 63);
    background-image: url("/assets/img/card.jpg");
}

div.card4{
    width: 22.5% ;
    border-radius: 15px 15px 15px 15px;
    border: 1px solid rgb(95, 63, 95);
    box-shadow: 5px 5px 10px rgb(63, 52, 63);
    background-image: url("/assets/img/card.jpg");
}

div.card5{
    width: 22.5% ;
    border-radius: 15px 15px 15px 15px;
    border: 1px solid rgb(95, 63, 95);
    box-shadow: 5px 5px 10px rgb(63, 52, 63);
    background-image: url("/assets/img/card.jpg");
}

div.card6{
    width: 22.6% ;
    border-radius: 15px 15px 15px 15px;
    border: 1px solid rgb(95, 63, 95);
    box-shadow: 5px 5px 10px rgb(63, 52, 63);
    background-image: url("/assets/img/card.jpg");
}
*/
div.footer-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 7px;
}

div.body-card{
    display: flex;
    flex-direction: column;
}

div.des{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 111%;
    width: 105%;
}
figure.card{
    margin-top: 18%;
    background-color: #cd0362;
}
img.card1{
    height: 170px;
    border-radius: 15px 15px 15px 15px;
}
/*
img.card2{
    height: 170px;
    border-radius: 15px 15px 15px 15px;
}

img.card3{
    height: 170px;
    border-radius: 15px 15px 15px 15px;
}

img.card4{
    height: 170px;
    border-radius: 15px 15px 15px 15px;
}

img.card5{
    height: 170px;
    border-radius: 15px 15px 15px 15px;
}

img.card6{
    height: 170px;
    border-radius: 15px 15px 15px 15px;
}
*/
footer{
    background-image: url("/assets/img/footer.jpg");
    height: 100px;
    width: 100%;
    margin: 0;
    padding: 0;
}

a.btn{

    padding: 9px;
    height: 60px;
    margin: 0.5%;
    color: rgb(117, 87, 104);
}

div.select{

    padding: 1px;
    display: flex;
    justify-content: space-around;
    border-top: 5px solid rgb(103, 60, 121);
    border-bottom: 5px solid rgb(103, 60, 121);
    margin: 0;
    color: #d9035c;
    background-color: #000000;
    height: 10%;
}

form{
    display: flex;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
    
}
table{
    margin-left: auto;
    margin-left: auto;
    
}

thead{
    background-color: indianred;
}

table, th, td{
    background-color: lightpink;
}
label{
    display: flex;
    flex-direction: row;
    margin: 10px;
    margin-top: 15px;
}

a.nav-link{
    color: #d9035c;
    
}
ul.nav{
    border-bottom: var(--bs-nav-tabs-border-width) solid #cd0362;
    
}
img.banner{
    width: 100%;
    height: 102.2%;
}

div.imagen{
    border: 2px solid rgb(63, 51, 63);
    width: 39%;
    height: 350px;
    border-radius: 10px 10px 10px 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
}

div.btn{
    margin-top: 12px;
}
div.description{
    margin: 20%;
    border-right: 2px solid black;
}
a{
    text-decoration: none;
}

div.card{
    display: flex;
    justify-content: center;
}
div.opc{
    width: 150%;
    height: 200%;
}
.card_details_img {
    box-shadow: -5px -5px 10px 0px rgb(0, 0, 0);
    display: flex;
    justify-content:center;
    margin-right: auto;
    margin-left: auto;
}

div.border{
    width: 50%;
}

text-decoration-none{
    color: #000000;
}

div.card_details_body{
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    justify-content: center;
    justify-content: space-between;
    width: 85%;
    border-radius: 15px 15px 15px 15px;
    margin-left: 8%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-image: url(/assets/img/card.jpg);

}
div.card_details_img{
    box-shadow: -5px -5px  10px 0px rgb(3, 2, 2);
    width: 41%;
    padding: 2%;
    margin-top: 7%;
    margin-bottom: 7%;
    margin-left: 5%;
    margin-right: 5%;
    border: 1px solid rgb(0, 0, 0);
}

figure.card_img{
    display: flex;
    justify-content: center;
    position: relative;
    width: 80%;

}
img.card_img{
   width: 100%;
   margin-right: 5%;
   margin-top: 15%;
   margin-left: 5%;
   border: 1px solid rgb(165, 42, 99);
   
    

}

div.card_main{
    box-shadow: -5px -5px 10px 0px rgb(0, 0, 0);
    padding: 2%;
    margin-top: 7%;
    margin-bottom: 7%;
    margin-right: 5%;
    margin-left: 3%;
    width: 41%;
    position: relative;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(165, 42, 99);
}
section.card_details{
    position: relative;
}